<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="nav-half">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag('logo2.png') %>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
       <div class="nav-half-links">
         <ul class="navbar-nav me-auto ">
            <%# if user_signed_in? %>
              <li class="nav-item active">
                <%= link_to "Over ons", about_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Onze producten", products_path, class: "nav-link" %>
              </li>
          <li class="nav-item">
            <%= link_to "Zandbad", zandbad_path, class: "nav-link" %>
          </li>
          </ul>
       </div>

    <div class="nav-right" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li style="padding: 13px;" class="nav-item">
            <i id="fonticons" class="fa-solid fa-cart-shopping"></i>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
              <%# link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>
