<div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.pikbest.com/wp/202408/beauty-products-display-on-3d-natural-brown-podium-background-for-cosmetic_9744791.jpg!sw800);">
  <div class="container">
    <h1><strong>ALLE PRODUCTEN</strong></h1>
      <p>Ontdek de magie van de Majorelletuin, waar Marokkaanse tradities en biologische producten voor iedereen toegankelijk zijn!</p>
  </div>
</div>


<div class="container mt-5 d-flex flex-row flex-wrap justify-content-center align-items-center w-100">
    <ul class="d-flex flex-row justify-content-evenly align-items-start w-100 gap-3 p-0 flex-wrap" >
      <% @products.each do | product |  %>

          <li class="card card-sizing index-round" >
        <div id="<%= dom_id product %>">
            <% picture = cl_image_tag product.photo.key %>
            <%= link_to picture, product_path(product) %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to product.name, product_path(product), class: "title-href" %></h5>
            <p class= "card-text"><strong>$<%= product.price%></strong></p>
            <%= form_with(url: cart_add_path, action: cart_path) do |f| %>
              <%= f.hidden_field :id, value: product.id  %>
              <%= f.number_field :quantity, value: 0, min: 1, style:"width: 15%; margin-bottom: 5px" %>
              <%= f.submit "Add To Cart", :onclick => "return confirm('Added To Cart!')", style: "width: 100%; border-color: black;", class: "btn btn-outline-primary text-center cart-button" %>
            <% end %>
            </div>
                <% end %>
        </div>
          </li>
    </ul>
  </div>
